.font__lobster {
  font-family: "Lobster", cursive;
}
.font__poppins {
  font-family: "Poppins", sans-serif;
}

.font__zcool {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
body {
  overflow-wrap: anywhere;
  scroll-behavior: smooth;
}

.h-95vh {
  height: 80vh;
}
.h-90vh {
  height: 90vh;
}
